.icon-location {
  width: 35px;
  top: -15px;
  right: -15px;
  position: absolute;
}

figure {
  margin: 0;
  line-height: 0;
  position: relative;
}

figcaption {
  font-size: .9em;
  line-height: 1.5;
  color: #fff;
  padding: 1em; 
  background: rgba(19,43,102, .85);
  position: absolute;
  bottom: 0;
  width: 100%;
}
